<aside class="sidebar-container">
  <div class="widget profile-widget">
    <h3 class="widget-title"><i class="fa-solid fa-user-astronaut"></i> 關於作者</h3>
    <p>Hi，我是軟體工程師。這裡記錄日常開發、伺服器維護、架構設計與一些生活瑣事。</p>
  </div>

  <div class="widget category-widget">
    <h3 class="widget-title"><i class="fa-solid fa-folder-open"></i> 文章分類</h3>
    <ul>
      @for (item of categories(); track item.category) {
        <li>
          <a class="tag" (click)="searchByCategory(item.category)">
            {{ item.category }} <span>({{ item.count }})</span>
          </a>
        </li>
      }
      <!-- <li><a href="#">Web Development <span>(13)</span></a></li>
      <li><a href="#">Linux & Server <span>(25)</span></a></li>
      <li><a href="#">Python <span>(12)</span></a></li>
      <li><a href="#">C# & .NET <span>(6)</span></a></li> -->
    </ul>
  </div>
</aside>